:root {
    /* Colors */
    --color-paragraph-main: #e5e7eb;
    --color-paragraph-addition: #535862;
    --color-title: #181d27;
    --button-main-color: #206bb6;
    --additional-color: #fbf2ef;
}
