.get-started-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.get-started-container {
    width: 100%;
    background-color: var(--additional-color);
    border-radius: 28px;
    padding: 61.15px 62px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.get-started-content {
    width: 524px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.started-image {
    max-width: 469px;
}

@media (max-width: 1024px) {
    .get-started-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .get-started-content {
        width: 100%;
        gap: 24px;
    }

    .get-started-content button {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .get-started-section {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .started-image {
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .get-started-container {
        display: flex;
        padding: 24px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        align-self: stretch;
    }

    .get-started-content {
        width: 100%;
        gap: 24px;
    }
}
