.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-size: var(--text-h2);
    line-height: 44px;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: var(--color-title);
}

.section-para {
    font-size: var(--text-body);
    line-height: 30px;
    font-weight: 400;
    color: var(--color-paragraph-addition);
}

@media (max-width: 768px) {
    .section-content {
        gap: 12px !important;
    }

    .section-title {
        line-height: 100%;
    }
}
