.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: var(--color-title);
}

.section-para {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--color-paragraph-addition);
}

@media (max-width: 768px) {
    .section-content {
        gap: 12px !important;
    }

    .section-title {
        line-height: 100%;
    }
}

@media (max-width: 425px) {
    .section-title {
        font-size: 24px;
        line-height: 120%;
        color: #030712;
    }

    .section-para {
        font-size: 16px;
        line-height: 150%;
        color: #6b7280;
    }
}
