.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.section-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #181d27;
}

.section-para {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #535862;
}
