.advantage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
}

.advantage-icon {
    width: 72px;
    height: 72px;
}

.advantage-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advantage-content h3 {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text-charcoal);
}

.advantage-content p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-paragraph-addition);
}

@media (max-width: 1024px) {
    .advantage {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .advantage-icon {
        width: 88px;
        height: 88px;
    }
}

@media (max-width: 768px) {
    .advantage {
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

@media (max-width: 435px) {
    .advantage-content p {
        font-size: 12px;
        line-height: 150%;
        color: #6b7280;
    }

    .advantage-content h3 {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        color: #030712;
    }

    .advantage-content {
        gap: 4px;
    }
}
