.main-cats-section {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.categories-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 3fr));
    gap: 24px;
}

@media (max-width: 768px) {
    .main-cats-section {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 16px;
    }
}
