.cat-container {
    width: 100%;
    display: flex;
    max-height: 290px;
    flex-direction: column;
    padding: 24px;
    padding-right: 0;
    border: 1px solid var(--color-border-light);
    background-color: transparent;
    border-radius: 12px;
    gap: 16px;
    position: relative;
}

.cat-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    padding-right: 7px;
    margin-right: 13px;
}

.range {
    position: absolute;
    z-index: 100000;
    left: 50%;
    right: 50%;
    bottom: -31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cat-price-content {
    height: 42px;
    width: 263px;
    opacity: 1;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px 12px 0 12px;
    border: 1px solid #e5e7eb;
}

.from-to {
    width: 100%;
    display: flex;
    align-items: center;
}

.from-to input {
    border: none;
    outline: none;
}

.from-to span {
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--footer-add-color);
}

.from-to-right {
    border-left: 1px solid #e5e7eb;
    padding-left: 4px;
}

.cat-content::-webkit-scrollbar {
    width: 4px;
}

.cat-content::-webkit-scrollbar-track {
    background: var(--color-border-light);
    border-radius: 10px;
}

.cat-content::-webkit-scrollbar-thumb {
    background: var(--color-text-light-gray);
    border-radius: 10px;
}
