.catalog-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0 50px 0;
}

.catalog-layout {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: start;
    justify-content: space-between;
}

.cats-aside {
    position: sticky;
    top: 49px;
    padding-top: 49px;
    width: 311px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.catalog-products {
    max-width: 945px;
    width: 100%;
}

@media (max-width: 768px) {
    .cats-aside {
        display: none;
    }
}
