.header {
    position: sticky;
    top: 0;
    background-color: var(--color-bg-dark-blue);
    height: var(--header-height, 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.header p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--color-text-gray);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-container {
    width: 139px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 24px;
    color: var(--color-text-white);
    font-weight: 600;
    font-size: 24px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-buttons-visible {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-menu-button {
    display: none;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-links a {
    color: var(--color-text-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .header-container {
        width: 100%;
        padding: 0 4px;
    }

    .header-buttons {
        gap: 12px;
    }

    .header-links {
        display: none;
    }

    .header-menu-button {
        display: block;
        padding: 10px;
        background-color: var(--color-bg-transparent);
        border: none;
    }

    .header-buttons-visible {
        display: none;
    }
}
